.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  padding: 4px;
}

.element {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  .second-player {
    display: flex;
    cursor: pointer;
    gap: 4px;
    align-items: center;
    .icon-search {
      font-size: 16px;
    }
  }
}

.elements-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}
