<div class="container">
  <div class="element">
    <div>{{ modifiedSubgame.username }}</div>
  </div>
  <div class="elements-wrapper">
    <div class="element">
      <img
        style="height: 24px; width: 24px; margin-right: -8px"
        src="../../../assets/icons/calendar.ico"
      />
      <div>{{ modifiedSubgame.day }}</div>
    </div>

    <div class="element">
      <img
        style="height: 24px; width: 24px; margin-right: -8px"
        src="../../../assets/icons/defense.gif"
      />
      <div>{{ modifiedSubgame.defense }}</div>
    </div>

    <div class="element">
      <img
        style="height: 24px; width: 24px; margin-right: -8px"
        src="../../../assets/icons/ranked_points.png"
      />
      <div>
        {{ modifiedSubgame.ranked_points }}
      </div>
    </div>
  </div>
</div>
