<div class="container">
    <div style="display: flex; gap: 4px">
      <img
        style="width: 16px; height: 16px"
        src="../../../assets/icons/calendar.ico"
      />
      <div>{{ city.day - 1 }}</div>
    </div>
    <div class="def-zb">
      <div class="def-zb-el">
        <img class="icon" src="../../../assets/icons/defense.gif" />
        <span class="text-span" style="margin-left: 6px">{{
          city.defense
        }}</span>
      </div>
      <div *ngIf="city.nb_zb_previous_attack == city.defense">=</div>
      <div *ngIf="city.nb_zb_previous_attack > city.defense"><</div>
      <div *ngIf="city.nb_zb_previous_attack < city.defense">></div>
      <div class="def-zb-el">
        <img class="icon" src="../../../assets/icons/zb.gif" />
        <span style="margin-left: 0px" class="text-span">{{
          city.nb_zb_previous_attack
        }}</span>
      </div>
    </div>
  </div>