<div class="container">
  <div style="display: flex; gap: 4px">
    <img style="width: 16px; height: 16px" src="assets/icons/calendar.ico" />
    <div>{{ cityService.city().day - 1 }}</div>
  </div>
  <div class="def-zb">
    <div class="def-zb-el">
      <img class="icon" src="assets/icons/defense.gif" />
      <span class="text-span" style="margin-left: 6px">{{ cityService.city().defense }}</span>
    </div>
    <div *ngIf="cityService.city().attackRecap.nb_zb === cityService.city().defense">=</div>
    <div *ngIf="cityService.city().attackRecap.nb_zb > cityService.city().defense"><</div>
    <div *ngIf="cityService.city().attackRecap.nb_zb < cityService.city().defense">></div>
    <div class="def-zb-el">
      <img class="icon" src="assets/icons/zb.gif" />
      <span style="margin-left: 0px" class="text-span">{{ cityService.city().attackRecap.nb_zb }}</span>
    </div>
  </div>
</div>
