<div class="boundary full-dim">
  <div class="questions-wrapper" [formGroup]="formgroup">
    <div class="container first-container">
      <input
        class="question"
        formControlName="question"
        placeholder="saisir une question"
      />
    </div>

    <div class="container second-container">
      <input
        formControlName="firstAnswer"
        class="first-anwser"
        placeholder="saisir une reponse"
      />
      <input formControlName="secondsAnswer" placeholder="saisir une reponse" />
      <input
        *ngFor="let question of listQuestionOption"
        placeholder="autre reponse"
        value="{{ question }}"
      />
      <input
        (keyup.enter)="addResponse()"
        formControlName="addOptionQuestion"
        class="option"
        placeholder="autre reponse"
      />

      <button class="btn" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
