<div class="boundary" [formGroup]="formgroup">
  <div class="messages-wrapper">
    <div class="message" *ngFor="let message of messages">
      <div class="timestamp">[{{ getTime(message.timestamp) }}]&nbsp;</div>
      <div class="username">{{ message.username }}:&nbsp;</div>
      <div class="content">{{ message.message }}</div>
    </div>
  </div>
  <div class="input-wrapper">
    <input
      formControlName="inputValue"
      class="input"
      type="text"
      (keyup.enter)="sendMessage()"
    />
    <span class="material-symbols-outlined icon-send" (click)="sendMessage()">
      send
    </span>
    <div class="is-typing">{{ getIsTypingString() }}</div>
  </div>
</div>
