// div::-webkit-resizer {
//   // background-color: transparent;
//   width: 1px; //
//   height: 1px; //
// }

// .my-background {
//   position: relative;
//   background: #00000026;
//   height: 25%;
//   width: 50%;
// }

.boundary-wrapper {
  resize: both;
  height: 25%;
  width: 50%;
  padding: 32px;
  .boundary {
    padding: 16px;
    background: #00000026;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar-corner {
      display: none; //
      background-color: transparent;
      width: 1px; //
      height: 1px; //
    }
    &::-webkit-scrollbar {
      width: 10px;
      margin-right: 101px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      margin-right: 101px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.247);
      border-radius: 4px;
      margin-right: 101px;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
    }
    .messages-wrapper {
      .message {
        display: flex;
        margin-bottom: 8px;
        .content {
          word-break: break-all;
        }
      }
      .message:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
