div::-webkit-resizer {
  background-color: transparent;
}

.boundary-wrapper {
  height: 25%;
  width: 50%;
  resize: both;
  overflow: auto;
  .boundary {
    padding: 16px;
    background: #00000026;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.247);
      border-radius: 4px;
    }
    .messages-wrapper {
      .message {
        display: flex;
        margin-bottom: 8px;
        .content {
          word-break: break-all;
        }
      }
      .message:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
