.building {
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 8px;
  padding: 4px;
  font-size: 13px;
  @media (max-width: 550px) {
    .line {
      flex-direction: column;
    }
  }
  .line {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    .line-right {
      display: flex;
      gap: 6px;
    }
  }
  .element-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    .icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
    .text {
      height: fit-content;
      line-height: 14px;
    }
  }
  .percentdef {
    margin-bottom: 0px !important;
  }
}
