<div class="building container">
  <div class="line">
    <div class="element-wrapper">
      <img class="icon" [src]="building.rarity | buildingRarityToIcon" />
      <div class="text" style="margin-bottom: -3px; font-weight: 500">
        {{ building.name }}
      </div>
    </div>
    <div class="line-right">
      <div class="inventory">
        <div class="item-wrapper" *ngFor="let item of building.inventory | keyvalue">
          <div class="item" *ngIf="item.value > 0">
            <img
              [ngStyle]="{
                'margin-top': item.key === 'stone' ? '-2px' : '0px',
              }"
              class="icon"
              src="{{ item.key | itemToIcon }}"
            />

            <div class="nb">
              <span class="alert-nb-item" *ngIf="cityService.city().inventory[castKey(item.key)] < item.value">{{
                cityService.city().inventory[castKey(item.key)]
              }}</span>
              <span class="ok-nb-item" *ngIf="cityService.city().inventory[castKey(item.key)] >= item.value">{{
                cityService.city().inventory[castKey(item.key)]
              }}</span>
              <span>/{{ item.value }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="element-wrapper" style="width: 74px">
        <img class="icon" src="assets/icons/defense.gif" />
        <div class="text">{{ building.defense }}</div>
        <div *ngIf="building.defense_ratio_percentage >= 0" class="percentdef percentdef-green">
          +{{ building.defense_ratio_percentage }}%
        </div>
        <div *ngIf="building.defense_ratio_percentage < 0" class="percentdef percentdef-red">
          {{ building.defense_ratio_percentage }}%
        </div>
      </div>

      <div class="element-wrapper" style="width: 55px">
        <span class="material-symbols-outlined icon"> schedule </span>
        <div class="text">{{ getTimeBuildingString() }}</div>
      </div>

      <div class="element-wrapper">
        <span class="material-symbols-outlined icon"> trending_up </span>
        <div class="text">{{ building.lvl }}/{{ building.lvl_max }}</div>
      </div>
    </div>
  </div>
</div>
