.boundary {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #3388ff;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s;
    .login-icon {
      margin-right: 8px;
    }
  }
  .button-wrapper:hover {
    background-color: #3f7ed5;
  }

  .user-xp {
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 16px;
    ::ng-deep.mat-mdc-progress-spinner {
      --mdc-circular-progress-active-indicator-color: white;
    }
  }
}
