<div class="content">
  <form class="login-form" [formGroup]="formgroup">
    <h1 style="font-size: 32px; margin: 16px">User Sign Up</h1>

    <div
      class="input-wrapper"
      [ngStyle]="fieldHasError('email') || emailAlreadyExists() ? { 'border-color': 'red' } : null"
    >
      <i class="material-icons icon-input-field">mail</i>
      <input
        (keyup.enter)="signUp()"
        type="email"
        class="input-field"
        required
        placeholder="Email"
        autocomplete="off"
        formControlName="email"
      />
    </div>

    <div
      class="input-wrapper"
      [ngStyle]="fieldHasError('username') || usernameAlreadyExists() ? { 'border-color': 'red' } : null"
    >
      <i class="material-icons icon-input-field">person</i>
      <input
        (keyup.enter)="signUp()"
        type="text"
        class="input-field"
        required
        placeholder="Username"
        autocomplete="off"
        formControlName="username"
      />
    </div>

    <div class="input-wrapper" [ngStyle]="fieldHasError('password') ? { 'border-color': 'red' } : null">
      <i class="material-icons icon-input-field">lock</i>
      <input
        (keyup.enter)="signUp()"
        type="password"
        class="input-field"
        required
        placeholder="Password"
        autocomplete="off"
        formControlName="password"
      />
    </div>

    <div
      class="input-wrapper"
      [ngStyle]="fieldHasError('confirmPassword') ? { 'border-color': 'red' } : null"
      style="margin-bottom: 0px !important"
    >
      <i class="material-icons icon-input-field">lock</i>
      <input
        (keyup.enter)="signUp()"
        type="password"
        class="input-field"
        required
        placeholder="Confirm Password"
        autocomplete="off"
        formControlName="confirmPassword"
      />
    </div>

    <div class="errors-wrapper">
      <div *ngIf="fieldHasError('email')">
        <span *ngIf="formgroup.controls.email.errors?.['required']">Email is required</span>
        <span *ngIf="formgroup.controls.email.errors?.['pattern']">Email must be valid</span>
      </div>

      <div *ngIf="fieldHasError('username')">
        <span *ngIf="formgroup.controls.username.errors?.['required']">Username is required</span>
        <span *ngIf="formgroup.controls.username.errors?.['notValid']">Username: 3 characters minimum</span>
        <span *ngIf="formgroup.controls.username.errors?.['max15']">Username: 15 characters maximum</span>
      </div>

      <div *ngIf="fieldHasError('password')">
        <span *ngIf="formgroup.controls.password.errors?.['required']">Password is required</span>
        <span *ngIf="formgroup.controls.password.errors?.['min8']">Password: 8 characters minimum</span>
      </div>

      <div *ngIf="fieldHasError('confirmPassword')">
        <span *ngIf="formgroup.controls.confirmPassword.errors?.['required']">Confirm password is required</span>
        <span *ngIf="formgroup.controls.confirmPassword.errors?.['noMatchPassword']"
          >Password and Confirm password must match</span
        >
      </div>

      <div *ngIf="emailAlreadyExists()">
        <span>Email already used</span>
      </div>

      <div *ngIf="usernameAlreadyExists()">
        <span>Username already used</span>
      </div>
    </div>

    <div class="button-wrapper" type="submit" (click)="signUp()">
      <i *ngIf="!loading()" class="material-icons login-icon">login</i>
      <div *ngIf="!loading()" class="login-text">Sign Up</div>

      <mat-spinner *ngIf="loading()" diameter="24" class="spinner"></mat-spinner>
      <div *ngIf="loading()" class="login-text">Signing Up...</div>
    </div>

    <div class="text-button" (click)="goToSignIn()">Already have an account ? Sign In</div>
    <div class="text-button" style="margin-top: 4px" (click)="authService.signInTemp()">
      Play as guest
    </div>
    <a href="https://discord.gg/qFnSBa8P9Z" target="_blank">
      <img alt="discord icon" style="height: 50px; margin-top: 12px" src="assets/icons/discord_icon.png"
    /></a>
  </form>
</div>
