<app-classic-page [title]="'Wiki'">
  <ng-container icon> 📖 </ng-container>
  <ng-container content>
    <div class="wiki-container">
      <section class="summary">
        <h2>🧾 Summary</h2>
        <table>
          <tr>
            <th>Category</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>Game Name</td>
            <td><strong>Zombie Waves</strong></td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>Incremental game</td>
          </tr>
          <tr>
            <td>Front-end</td>
            <td>Angular 19</td>
          </tr>
          <tr>
            <td>Back-end</td>
            <td>Node.js + Express</td>
          </tr>
          <tr>
            <td>Database</td>
            <td>MongoDB</td>
          </tr>
          <tr>
            <td>Target Distribution</td>
            <td>Android (Google Play / APK)</td>
          </tr>
        </table>
      </section>

      <section>
        <h2>Overview</h2>

        <p style="margin-top: 16px">You are the last human alive in a ruined city.</p>
        <div class="flex">
          Each night, waves of zombies<img src="assets/icons/zb.gif" />attack your defenses<img
            src="assets/icons/defense.gif"
          />.
        </div>
        <div class="flex">
          Each day, you dig<img src="assets/icons/pelle.gif" />, build<img src="assets/icons/building.webp" />, and
          learn <img src="assets/icons/livre.gif" />in an effort to survive one more night.
        </div>

        <div class="flex">
          <strong>Are you ready to climb the ranks and dominate the leaderboard?</strong>
          <img src="assets/icons/leaderboard.gif" />
        </div>
      </section>

      <section>
        <h2>⚔️ Defense and Attacks</h2>
        <div class="flex">
          <img style="margin-top: -5px" src="assets/icons/building.webp" />All buildings (except special ones) add
          defense points.
        </div>
        <div class="flex"><img src="assets/icons/zb.gif" />The zombie wave increases nightly.</div>
        <div class="flex">
          <img src="assets/icons/defense.gif" /> ≥ <img src="assets/icons/zb.gif" /> → You survive.
        </div>
        <div class="flex"><img src="assets/icons/defense.gif" /> < <img src="assets/icons/zb.gif" /> → You die.</div>
      </section>

      <section>
        <h2><img class="icon" src="assets/icons/building.webp" /> Buildings</h2>
        <p>
          Buildings cost <strong>resources</strong> and <strong>time</strong> to construct. The buildings increase the
          <strong>defense</strong> of your city.
        </p>
        <table>
          <tr>
            <th>Building</th>
            <th>Max Level</th>
            <th>Description</th>
            <th>Detail</th>
          </tr>
          <tr>
            <td><img class="icon" src="assets/icons/base_plan.webp" />Architect Shelter</td>
            <td>3</td>
            <td>Increases discovery odds for new building plans (probability is 0.7 per level).</td>
            <td>You will have a choice for your discoveries</td>
          </tr>
          <tr>
            <td><img class="icon" src="assets/icons/base_plan.webp" /> Library</td>
            <td>3</td>
            <td>Increases discovery odds for new skill levels (probability is 0.5 per level).</td>
            <td>No choice</td>
          </tr>
        </table>
        <p style="margin-top: 16px">
          A <strong>building's defense</strong> value is subject to a degree of <strong>random variability</strong>,
          which can fluctuate by up to <strong>±20%</strong> from one game to the next.
        </p>
        <p style="margin-top: 16px">
          These variations will be displayed by a small percentage indicator next to the building's defense rating.
        </p>
        <span style="margin-top: 16px" class="element-wrapper">
          <img class="icon" src="assets/icons/defense.gif" />
          <div class="text">52</div>
          <div class="percentdef percentdef-green">+19%</div>
        </span>
      </section>

      <section>
        <h2><img class="icon" src="assets/icons/livre.gif" />Skills</h2>
        <p>Each skill improves a specific aspect of survival. Effects are linear per level.</p>
        <table>
          <tr>
            <th>Skill</th>
            <th>Max Level</th>
            <th>Effect per Level</th>
            <th>Level max Effect</th>
          </tr>
          <tr>
            <td><img class="icon" src="assets/icons/sleep.gif" /> Insomniac</td>
            <td>8</td>
            <td>Wake up 15 min earlier each day.</td>
            <td>2 hours earlier wake-up.</td>
          </tr>
          <tr>
            <td><img class="icon" src="assets/icons/pelle.gif" /> Digger</td>
            <td>5</td>
            <td>Reduce search time linearly.</td>
            <td>Action time divided by 2.</td>
          </tr>
          <tr>
            <td><img class="icon" src="assets/icons/building.webp" />Builder</td>
            <td>5</td>
            <td>Reduce building time linearly.</td>
            <td>Action time divided by 2.</td>
          </tr>
          <tr>
            <td><img class="icon" src="assets/icons/livre.gif" />Fast Learner</td>
            <td>5</td>
            <td>Reduce learning time linearly.</td>
            <td>Action time divided by 2.</td>
          </tr>
        </table>
      </section>

      <section>
        <h2>💡 Experience & Levels</h2>

        <div class="flex">
          <strong>Gain XP</strong> <img class="icon" src="assets/icons/xpLogo.png" /><strong
            >and Money 💰 equal to zombies defeated.</strong
          >
        </div>
      </section>

      <section>
        <h2><img class="icon" src="assets/icons/ranked.png" /> Ranked Mode</h2>
        <p><strong>Don't hesitate to play in ranked to get more 💰 (+50%)!</strong></p>
        <div class="flex">After you complete your ranked game, one other player will play the same game.</div>
        <div class="flex">When the other players finishes, the performance is compared between the 2 players:</div>
        <div class="flex" style="margin-top: 6px !important">
          🗓️ Days survived,
          <img src="assets/icons/defense.gif" />defenses built.
        </div>
        <div class="flex">
          <img src="assets/icons/ranked_points.png" style="width: 16px" />Elo-like ranked point system.
        </div>
        <div class="flex"><img src="assets/icons/leaderboard.gif" />Fight for the leaderboard.</div>
      </section>

      <section>
        <h2>📈 Example Progression</h2>
        <table>
          <tr>
            <th>Day 🗓️</th>
            <th>Zombies<img src="assets/icons/zb.gif" style="margin-left: 4px; margin-bottom: -3px" /></th>
            <th>Defense<img src="assets/icons/defense.gif" style="margin-left: 4px; margin-bottom: -3px" /></th>
            <th>Result</th>
            <th>
              Cumulative
              <img src="assets/icons/xpLogo.png" style="width: 16px; margin-left: 4px; margin-bottom: -3px" />/💰
            </th>
          </tr>
          <tr>
            <td>1</td>
            <td>10</td>
            <td>15</td>
            <td>Survive</td>
            <td>10</td>
          </tr>
          <tr>
            <td>2</td>
            <td>20</td>
            <td>23</td>
            <td>Survive</td>
            <td>30</td>
          </tr>
          <tr>
            <td>3</td>
            <td>35</td>
            <td>28</td>
            <td>Die</td>
            <td>30</td>
          </tr>
        </table>
      </section>

      <section>
        <h2>✨ Bonuses</h2>
        <p style="margin-top: 16px">
          Use the money 💰 you accumulate across all your games in the shop to purchase powerful
          <strong>permanent ✨ bonuses</strong>.
        </p>
        <p style="margin-top: 16px">
          These bonuses will be <strong>automatically applied</strong> to all your <strong>future games</strong>, giving
          you a strategic advantage.
        </p>
      </section>

      <section>
        <h2>🧩 Strategy Tips</h2>
        <div class="flex">
          <img class="icon" src="assets/icons/base_plan.webp" />
          <p>Upgrade Libraries to unlock higher skill caps.</p>
        </div>

        <div class="flex">
          <img class="icon" src="assets/icons/base_plan.webp" />
          <p>Architect Shelters unlock stronger defense plans.</p>
        </div>

        <p style="margin-top: 16px">✨ Buy strong bonuses</p>
      </section>

      <section>
        <h2>✉️ Constact me</h2>
        <p style="margin-top: 16px">
          If you have any ideas to improve the game or just want to discuss about it, join the discord or send me an
          email to <strong>{{ 'dowartaz@gmail.com' }}</strong>
        </p>
      </section>

      <section>
        <h2><img class="icon" src="assets/icons/building.webp" /> Coming Soon</h2>
        <p>Would you like to have this game on the Play Store?</p>
      </section>

      <footer>
        <p>Made with 💀 by the Zombie Waves Dev Team</p>
      </footer>
    </div>
  </ng-container>
</app-classic-page>
