.boundary {
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 30px;
  }
}
