<div *ngIf="userIsLoggedIn()" class="header">
  <div class="left-header header-item">
    <i
      *ngIf="!menuIsDisplayed"
      class="material-icons icon-header"
      (click)="changeMenuIsDisplayed()"
      >menu</i
    >
    <i
      *ngIf="menuIsDisplayed"
      class="material-icons icon-header"
      (click)="changeMenuIsDisplayed()"
      >close</i
    >
  </div>
  <div class="middle-header header-item" (click)="navigate('home')">
    <i class="material-icons icon-header">home</i>
    <div class="my-website-span">My Website</div>
  </div>
  <div class="right-header header-item">
    <i class="material-icons icon-header" (click)="logOut()">logout</i>
  </div>
</div>

<div class="menu" [ngClass]="{'menu-not-displayed': !menuIsDisplayed || !userIsLoggedIn() }">
  <div class="menu-item" (click)="navigate('xp')">Get Experience</div>
  <div class="menu-item">test2</div>
  <div class="menu-item">test3</div>
  <div class="menu-item">test4</div>
</div>

<div class="page">
  <router-outlet></router-outlet>
</div>
