:host {
  ::ng-deep.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--white);
  }
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, var(--coral-orange), var(--coral-pink), var(--blue-gradient), var(--blue-teal));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .page {
    height: 100dvh;
    width: 100%;
    max-width: 750px;
    background-image: url('/assets/icons/background4.jpg');
    display: flex;
    flex-direction: column;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    .headers {
      display: flex;
      flex-direction: column;
      padding: 0px 8px;
    }
    .content {
      flex: 1;
      overflow: auto;
    }
  }
}
