<div class="content">
  <form class="login-form" [formGroup]="formgroup">
    <h1 style="font-size: 32px; margin: 16px">User Login</h1>
    <div
      class="input-wrapper"
      [ngStyle]="fieldHasError('email') && { 'border-color': 'red' }"
    >
      <i class="material-icons icon-input-field">mail</i>
      <input
        type="email"
        class="input-field"
        required
        placeholder="Email"
        autocomplete="off"
        formControlName="email"
        (keyup.enter)="login()"
      />
    </div>

    <div
      class="input-wrapper"
      style="margin-bottom: 0px !important"
      [ngStyle]="fieldHasError('password') && { 'border-color': 'red' }"
    >
      <i class="material-icons icon-input-field">lock</i>
      <!-- <i
        class="material-icons"
        style="margin-left: 198px; font-size: 16px; position: absolute"
        >info</i
      > -->
      <input
        type="password"
        class="input-field"
        required
        placeholder="Password"
        autocomplete="off"
        formControlName="password"
        (keyup.enter)="login()"
      />
    </div>

    <div *ngIf="invalidAuthentification" class="invalid-authen">
      Invalid authentification
    </div>
    <div *ngIf="!invalidAuthentification" class="valid-authen"></div>

    <div class="button-wrapper" (click)="login()">
      <i *ngIf="!loginLoading" class="material-icons login-icon">login</i>
      <div *ngIf="!loginLoading" class="login-text">Login</div>

      <mat-spinner
        *ngIf="loginLoading"
        diameter="24"
        class="spinner"
      ></mat-spinner>
      <div *ngIf="loginLoading" class="login-text">Login...</div>
    </div>

    <!-- <div class="text-button forgot-password" (click)="forgotPassword()">
      Forgot Password ?
    </div> -->
    <div class="text-button" (click)="signUp()">No account yet ? Sign Up</div>
    <a href="https://discord.gg/GNpBenYq" target="_blank">
      <img
        style="height: 50px; margin-top: 12px"
        src="../../../assets/icons/discord_icon4.png"
    /></a>
  </form>
</div>
