:host {
  height: 100%;
  .classic-page {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 8px 8px 8px;
    position: relative;
    .back-btn {
      position: absolute;
      left: 8px;
      background-color: transparent !important;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 32px;
      padding: 32px;
      margin-bottom: 16px;
    }
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 8px;
      width: 100%;
      gap: 16px;
      flex: 1;
      overflow-y: auto;
    }
  }
}
