.boundary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .img-wrapper {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-position: center;
    max-height: 300px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    border: 2px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .error {
      font-size: 32px;
      font-weight: bold;
      margin-top: 16px;
    }
  }
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: 16px;
    background-color: #3388ff;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    .login-icon {
      margin-right: 8px;
    }
  }
  .button-wrapper:hover {
    background-color: #3f7ed5;
  }
}

.boundary {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
