<div class="boundary">
  <div class="header">
    <img class="icon" src="../../../../assets/icons/pelle.gif" />
    <div>Dig For Items</div>
  </div>
  <div class="content">
    <div class="diggings">
      <div class="select-nb-digs">
        <button
          [ngStyle]="{
            background: disableMinusDigs()
              ? 'var(--primary-yellow-disabled)'
              : 'var(--primary-yellow)'
          }"
          class="btn element add-digs-btn add-digs-btn-right"
          (click)="addDigs(-1)"
          [disabled]="disableMinusDigs()"
        >
          <span class="material-symbols-outlined"> arrow_left </span>
        </button>
        <div class="nb-digs element">
          {{ nbDigs }}
        </div>
        <!-- <input type="number" disabled value="1" /> -->
        <button
          class="btn element add-digs-btn add-digs-btn-left"
          (click)="addDigs(1)"
        >
          <span class="material-symbols-outlined"> arrow_right </span>
        </button>
      </div>
      <button class="btn dig-btn" (click)="dig()">
        <img class="icon" src="../../../assets/icons/pelle.gif" />
        <div class="dig-text">
          Dig for an item ({{ getDiggingsTimeString() }})
        </div>
        <!-- min-width: 184px; -->
      </button>
    </div>
    <div class="inventory">
      <div class="item" *ngFor="let item of inventory">
        <img class="icon" src="{{ item.src }}" />
        <div class="nb">{{ item.nb }}</div>
        <div class="item-found" *ngIf="item.found > 0">+{{ item.found }}</div>
      </div>
    </div>
  </div>
</div>
