<dialog *ngIf="snackBarOpened" #dialog class="dialog-class">
  <div>{{ dialogMessage }}</div>

  <span class="material-symbols-outlined" (click)="closeSnackBar()"> close </span>
</dialog>

<div class="play-header">
  <img class="icon" src="assets/icons/pelle.gif" />
  <div>Dig For Items</div>
</div>
<div class="play-content">
  <div class="diggings">
    <div class="select-nb-digs">
      <button
        [ngStyle]="{
          background: disableMinusDigs() ? 'var(--primary-yellow-disabled)' : 'var(--primary-yellow)',
        }"
        class="btn element add-digs-btn add-digs-btn-right"
        (click)="addDigs(-1)"
        [disabled]="disableMinusDigs()"
      >
        <span class="material-symbols-outlined"> arrow_left </span>
      </button>
      <div class="nb-digs element">
        {{ nbDigs() }}
      </div>
      <button class="btn element add-digs-btn add-digs-btn-left" (click)="addDigs(1)">
        <span class="material-symbols-outlined"> arrow_right </span>
      </button>
    </div>
    <button
      class="btn dig-btn"
      (click)="dig()"
      [disabled]="cityService.digLoading()"
      [ngStyle]="{
        background:
          !enoughTime() || cityService.digLoading() ? 'var(--primary-yellow-disabled)' : 'var(--primary-yellow)',
      }"
    >
      <img class="icon" src="assets/icons/pelle.gif" />
      <div class="dig-text">Dig for an item ({{ totalRequiredTimeString() }})</div>
    </button>
  </div>
  <div class="inventory">
    <div class="item" *ngFor="let item of cityService.city().inventory | keyvalue">
      <img
        [ngStyle]="{
          'margin-top': item.key === 'stone' ? '-2px' : '0px',
        }"
        class="icon"
        src="{{ item.key | itemToIcon }}"
      />
      <div class="nb">{{ item.value }}</div>
      <div class="item-found" *ngIf="cityService.inventoryItemFound()[castKey(item.key)] > 0">
        +{{ cityService.inventoryItemFound()[castKey(item.key)] }}
      </div>
    </div>
  </div>
</div>
