:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  .btn {
    border: none;
    background-color: var(--transparent);
    color: var(--white);
    padding: 0px;
  }
  .play-content {
    .diggings {
      display: flex;
      align-items: center;
      flex-direction: column;
      .icon {
        width: 16px;
        height: 16px;
      }
      .select-nb-digs {
        display: flex;
        color: var(--white);
        height: fit-content;
        width: 50%;
        .nb-digs {
          border-top: var(--border-white);
          border-bottom: var(--border-white);
          width: 100%;
        }
        .element {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .add-digs-btn {
          background: var(--primary-yellow);
          color: var(--white);
          border: var(--border-white);
        }
        .add-digs-btn-right {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        .add-digs-btn-left {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      .dig-btn {
        display: flex;
        border: var(--border-white);
        padding: 16px;
        border-radius: 4px;
        background: var(--primary-yellow);
        margin-top: 16px;
        justify-content: center;
        min-width: 160px;
        box-shadow: var(--box-shadow-button);
        .dig-text {
          margin-left: 4px;
        }
      }
    }
    .inventory {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      .item {
        display: flex;
        margin-bottom: 8px;
        .nb {
          color: var(--white);
          margin-left: 4px;
          font-size: 14px;
          min-width: 32px;
        }
        .icon {
          height: 16px;
        }
        .item-found {
          color: var(--bright-green);
          font-size: 14px;
          font-weight: 700;
          width: 0px;
        }
      }
      .item:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
