<div *ngIf="headerIsDisplayed()" class="boundary">
  <div class="left-part">
    <div class="element">
      <img class="icon" src="assets/icons/calendar.ico" />
      <span class="text-span">{{ cityService.city().day }}</span>
    </div>

    <div class="element">
      <span class="material-symbols-outlined icon"> schedule </span>
      <span class="text-span">{{ time.string }}</span>
    </div>

    <div class="element">
      <img class="icon" src="assets/icons/defense.gif" />
      <span class="text-span">{{ cityService.city().defense }}</span>
    </div>
    <div class="element">
      <img class="icon" src="assets/icons/zb.gif" />

      <span class="text-span" [ngClass]="{ danger: cityService.city().nb_zb_next_attack_max > cityService.city().defense }"
        >{{ cityService.city().nb_zb_next_attack_min }}-{{ cityService.city().nb_zb_next_attack_max }}</span
      >
    </div>
  </div>

  <button class="icon-btn borderBlink" [ngClass]="{ borderBlink2: time.seconds > 79200 }" (click)="endDay()">
    <img src="assets/icons/sleep.gif" />
  </button>
</div>
