<app-classic-page [title]="'Bonus Shop'">
  <ng-container icon> 💰 </ng-container>
  <ng-container content>
    <div class="shop-container">
      <div class="shop-card container" *ngFor="let item of bonuses">
        <div class="shop-card-header">
          <span class="material-symbols-outlined icon">{{ item.icon }}</span>
          <div>
            <h3>{{ item.name }}</h3>
            <p class="shop-description">{{ item.description }}</p>
          </div>
        </div>

        <div class="shop-levels">
          <span
            >Level : <strong>{{ item.lvl }}</strong> / {{ item.lvl_max }}</span
          >
          <div class="progress-bar">
            <div class="progress" [style.width.%]="(item.lvl / item.lvl_max) * 100"></div>
          </div>
        </div>

        <div *ngIf="item.lvl < item.lvl_max" class="shop-footer">
          <span class="shop-price">{{ item.price * Math.pow(2, item.lvl) }} 💰</span>
          <button
            *ngIf="item.lvl < item.lvl_max && money >= item.price * Math.pow(2, item.lvl)"
            class="buy-button"
            (click)="buyItem(item)"
            [disabled]="item.lvl >= item.lvl_max || money < item.price * Math.pow(2, item.lvl)"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</app-classic-page>
