.boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 16px;
  overflow: auto;
  .container {
    .container-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0px 4px;
    }

    .container-header {
      margin-bottom: 4px;
    }
  }

  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    .header {
      color: var(--white);
      font-size: 32px;
    }

    .content {
      color: var(--white);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;
      flex: 1;
      .earning-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        .earning > *:last-child {
          margin-top: 20px;
          color: var(--primary-yellow);
        }
        .earning {
          display: flex;
          flex-direction: column;
          gap: 6px;
          width: fit-content !important;
          height: fit-content;
          padding: 16px;
          .title {
            font-size: 20px;
            margin-bottom: 8px;
          }
          .line {
            display: flex;
            justify-content: space-between;
            width: 180px;
            .money {
              display: flex;
              .icon {
                font-size: 14px;
                margin-top: -1px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: var(--border-white);
      padding: 16px;
      gap: 16px;
      border-radius: 4px;
      box-shadow: var(--box-shadow-button);
      background: linear-gradient(45deg, var(--primary-yellow) 40%, var(--coral-orange) 50%, var(--primary-yellow) 60%);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }
    }
  }
}
