<div class="boundary">
  <div class="top">
    <div class="header container">Attack Recap</div>
    <div class="content">
      <app-recap-header style="width: 100%"></app-recap-header>
      <div class="container" style="border: 1px solid #dc1a1a">
        <img class="icon" src="assets/icons/small_death.gif" />
        <div>You died!</div>
      </div>

      <app-game
        style="width: 100%"
        [game]="cityService.stats().match_history[cityService.stats().match_history.length - 1]"
      ></app-game>

      <div class="earning-wrapper">
        <div class="container earning">
          <div class="title">Rewards</div>
          <div class="line">
            <div>Base</div>
            <div class="money">{{ cityService.city().attackRecap.base_money }} <div class="icon">💰</div></div>
          </div>
          <div class="line">
            <div>Ranked</div>
            <div class="money">{{ cityService.city().attackRecap.ranked_money }} <div class="icon">💰</div></div>
          </div>
          <div class="line">
            <div>Bonus</div>
            <div class="money">{{ cityService.city().attackRecap.bonus_money }} <div class="icon">💰</div></div>
          </div>
          <div class="line">
            <div>Total</div>
            <div class="money">{{ cityService.city().attackRecap.total_money }} <div class="icon">💰</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <button (click)="cityService.deleteCity()">
      <span class="material-symbols-outlined icon"> schedule </span><span>Try Again!</span>
    </button>
  </div>
</div>
