<div class="boundary">
  <div class="top">
    <div class="header container">Attack Recap</div>
    <div class="content">
      <app-recap-header style="width: 100%"></app-recap-header>
      <div class="container" style="border: 1px solid #dc1a1a">
        <img class="icon" src="assets/icons/small_death.gif" />
        <div>You died!</div>
      </div>
      <div class="container">
        <div class="xp">
          + {{ money() }}<span *ngIf="cityService.city().ranked">(+{{ bonusMoney() }})</span>
          <img style="width: 32px; margin-right: 32px" src="assets/icons/xpLogo.png" />
          + {{ money() }}<span *ngIf="cityService.city().ranked">(+{{ bonusMoney() }})</span> 💰
        </div>
      </div>
      <app-game
        style="width: 100%"
        [game]="cityService.stats().match_history[cityService.stats().match_history.length - 1]"
      ></app-game>
    </div>
  </div>

  <div class="footer">
    <button (click)="tryAgain()">
      <span class="material-symbols-outlined icon"> schedule </span><span>Try Again!</span>
    </button>
  </div>
</div>
