<div class="boundary">
  <div *ngIf="authService.isConnected()" class="left-part">
    <!-- <div class="lvl-wrapper">
      <img class="lvl-icon" src="assets/icons/lvl_icon.png" />
      <div class="lvl">{{ data().lvl }}</div>
    </div>
    <div class="xp-bar-wrapper">
      <div class="xp-bar-string">{{ data().xpString }}</div>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="data().xpRatio"></div>
      </div>
    </div> -->
    <div *ngIf="authService.isConnected()" class="icon-btn money" (click)="router.navigate([RoutesEnum.SHOP])">
      <div class="plus">+</div>
      <span>{{ data().money }}</span>
      💰
      <div class="nb-bonuses-buyable">
        {{ this.cityService.nbBuyableBonuses() > 9 ? '9+' : this.cityService.nbBuyableBonuses() }}
      </div>
    </div>
    <div *ngIf="authService.tempAccount()" class="no-cloud-save">no cloud save</div>
  </div>
  <div class="right-part">
    <!-- <a class="icon-btn" href="https://discord.gg/qFnSBa8P9Z" target="_blank">
      <img src="assets/icons/discord_icon.png"
    /></a> -->
    <button
      *ngIf="authService.isConnected()"
      class="icon-btn"
      (click)="
        router.navigate([RoutesEnum.PROFIL], {
          queryParams: { user_id: authService.userId() },
        })
      "
    >
      <span class="material-symbols-outlined icon"> group </span>
    </button>
    <button class="icon-btn" (click)="router.navigate([RoutesEnum.LEADERBOARD])">
      <img src="assets/icons/leaderboard.gif" />
    </button>
    <button class="icon-btn" (click)="router.navigate([RoutesEnum.WIKI])">
      <span class="emoticon">📖</span>
    </button>
    <!-- <button *ngIf="authService.isConnected()" class="icon-btn" (click)="router.navigate([RoutesEnum.SHOP])">
      <span class="emoticon">💰</span>
    </button> -->
    <button *ngIf="authService.isConnected()" class="icon-btn" (click)="router.navigate([RoutesEnum.SETTINGS])">
      <span class="emoticon">⚙️</span>
    </button>
  </div>
</div>
