<div class="boundary">
  <div class="top">
    <div class="header container">Attack Recap</div>
    <div class="content">
      <app-recap-header style="width: 100%"></app-recap-header>

      <div class="container" *ngIf="nbMaxChoices() > 0">
        <div class="container-header">
          {{
            `Pick ${nbMaxChoices()} building${nbMaxChoices() > 1 ? 's' : ''} from the ${nbChoicesAvailable()} available`
          }}
        </div>

        <div class="container-content">
          <div
            class="line"
            *ngFor="let building of cityService.city().attackRecap.architect_shelter_buildings; let i = index"
          >
            <div class="aaa">
              <input
                class="ckeckbox"
                type="checkbox"
                [(ngModel)]="building.selected"
                (change)="onCheckboxChange($event, i)"
              />
            </div>

            <app-building-recap class="building" [building]="building"></app-building-recap>
          </div>
        </div>
      </div>

      <div class="container" *ngIf="library_discoveriesFormatted.length > 0">
        <div class="container-header">
          {{ Object.keys(library_discoveriesFormatted()).length }}
          <span *ngIf="library_discoveriesFormatted.length > 1"> skill discoveries </span>
          <span *ngIf="library_discoveriesFormatted.length === 1"> skill discovery </span>
        </div>

        <div class="container-content">
          <app-skill-recap *ngFor="let skill of library_discoveriesFormatted()" [skill]="skill"></app-skill-recap>
        </div>
      </div>

      <div class="container">
        <div>You survived!</div>
      </div>
    </div>
  </div>

  <div class="footer">
    <button (click)="startDay()">
      <span class="material-symbols-outlined icon"> schedule </span><span>Wait for the attack to pass</span>
    </button>
  </div>
</div>
