<div class="boundary">
    <div class="top">
        <div class="header container">Attack Recap</div>
        <div class="content">
            <app-recap-header [city]="city" style="width: 100%;"></app-recap-header>

            <div class="container" *ngIf="
            city.attackRecap.architect_shelter_buildings.length > 0
          ">
                <div class="container-header">
                    {{ city.attackRecap.architect_shelter_buildings.length }}
                    <span *ngIf="city.attackRecap.architect_shelter_buildings.length > 1">
                        building discoveries
                    </span>
                    <span *ngIf="city.attackRecap.architect_shelter_buildings.length == 1">
                        building discovery
                    </span>
                </div>

                <div class="container-content">
                    <app-building-recap *ngFor="
                let building of city.attackRecap.architect_shelter_buildings
              " [building]="building"></app-building-recap>
                </div>
            </div>

            <div class="container" *ngIf="library_discoveriesFormatted.length > 0">
                <div class="container-header">
                    {{ library_discoveriesFormatted.length }}
                    <span *ngIf="library_discoveriesFormatted.length > 1">
                        skill discoveries
                    </span>
                    <span *ngIf="library_discoveriesFormatted.length == 1">
                        skill discovery
                    </span>
                </div>

                <div class="container-content">
                    <app-skill-recap *ngFor="let skill of library_discoveriesFormatted"
                        [skill]="skill"></app-skill-recap>
                </div>
            </div>


            <div class="container">
                <div>You survived!</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <button (click)="startDay()">
            <span class="material-symbols-outlined icon"> schedule </span><span>Wait for the attack to pass</span>
        </button>
    </div>
</div>