@use '@angular/material' as mat;

@include mat.core();

:root {
  --basic-red: red;
  --border-white-transparent: 1px solid rgba(255, 255, 255, 0.8);
  --background-black-opacity-zero-trois: rgba(0, 0, 0, 0.3);
  --background-black-opacity-zero-six: rgba(0, 0, 0, 0.6);
  --primary-yellow: #f5a201;
  --primary-yellow-disabled: #f5a201a8; //#f5a201a8 #8a6620 #c3beb4b8
  --danger-red: #dc1a1a;
  --primary-blue: rgb(20, 96, 154);
  --primary-dark-blue: rgb(18, 83, 139);
  --container-color: #0000005e;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0px;
  font: inherit;
}

button {
  cursor: pointer;
}

html,
body {
  min-height: 100vh;
  //color: white;
}

.dialog-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 79px;
  text-align: center;
  width: calc(100% - 16px);
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: #e85e5e;
  padding: 12px 8px;
  max-width: 568px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  span {
    cursor: pointer
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 4px;
  border-radius: 4px;
  border: var(--border-white-transparent);
  transition: transform 0.2s;
  background-color: var(--background-black-opacity-zero-trois);
  .icon {
    color: white;
    font-weight: 200;
  }
}

::ng-deep.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 4px;
  padding: 8px 4px;
  width: 100%;
  align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 63%);
  background: #0000005e;
}

@-webkit-keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  10% {
    border-color: white;
  }
}

.play-header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 8px;
  color: white;
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
.play-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  overflow: auto;
  padding: 8px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--container-color);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.yellow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 16px;
  gap: 16px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 63%);
  background: linear-gradient(45deg, var(--primary-yellow) 40%, #ee7752 50%, var(--primary-yellow) 60%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  border-radius: 2px;
}

input[type='checkbox']:checked {
  background: rgba(40, 40, 40, 0.9);
}

input[type='checkbox']:checked::after {
  content: '✓';
  color: white;
  font-size: 0.8rem;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers the check mark */
}
