.action-button {
  background-color: var(--basic-red) !important;
  color: white;
  .row-wrapper {
    display: flex;
    justify-content: space-around;
    .row-align {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      .mat-icon {
        height: 20px;
        width: 20px;
      }
      .material-icons {
        font-size: 20px;
      }
      .icon {
        margin-right: 8px;
      }
      .loader {
        ::ng-deep .mat-progress-spinner circle,
        .mat-spinner circle {
          stroke: white !important;
        }
      }
    }
  }
}

.action-button:hover {
  opacity: 0.5;
}
