.footer {
  border-top: var(--border-white-transparent);
  display: flex;
  width: 100%;
  .footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    border: none;
    padding: 8px 0px;
    background-color: var(--background-black-opacity-zero-trois);
    border-right: var(--border-white-transparent);
    transition: background-color 0.5s ease;
    .icon {
      width: 24px;
      height: 24px;
    }
    .span {
      color: white;
      font-size: 16px;
      font-weight: 500;
      margin-top: 4px;
    }
  }
  .footer-btn:last-child {
    border-right: none;
  }
}
