<div class="footer">
  <button [ngClass]="{ 'is-active': content === 'dig' }" class="footer-btn" (click)="changeContent('dig')">
    <img class="icon" src="assets/icons/pelle.gif" />
    <span class="span">Dig</span>
  </button>
  <button [ngClass]="{ 'is-active': content === 'learn' }" class="footer-btn" (click)="changeContent('learn')">
    <img class="icon" src="assets/icons/livre.gif" />
    <span class="span">Learn</span>
  </button>
  <button [ngClass]="{ 'is-active': content === 'build' }" class="footer-btn" (click)="changeContent('build')">
    <img class="icon" src="assets/icons/building.webp" />
    <span class="span">Build</span>
  </button>
</div>
