<dialog *ngIf="snackBarOpened" #dialog class="dialog-class">
  <div>{{ dialogMessage }}</div>

  <span class="material-symbols-outlined" style="cursor: pointer;" (click)="closeSnackBar()">
    close
  </span>
</dialog>

<div class="boundary">
  <div class="header">
    <img class="icon" src="../../../../assets/icons/livre.gif" />
    <div>Learn Skills</div>
  </div>
  <div class="content">
    <div
      class="building"
      *ngFor="let skill of skills"
      [ngStyle]="{
        background: skill.lvl == skill.lvl_max ? '#00000061' : 'transparent',
        display: 0 == skill.lvl_max ? 'none' : 'flex'
      }"
    >
      <div class="line">
        <div class="element-wrapper">
          <img
            *ngIf="skill.id == 1"
            class="icon"
            src="../../../../assets/icons/pelle.gif"
          />
          <img
            *ngIf="skill.id == 2"
            class="icon"
            src="../../../../assets/icons/livre.gif"
          />
          <img
            *ngIf="skill.id == 3"
            class="icon"
            src="../../../../assets/icons/build.webp"
          />
          <img
            *ngIf="skill.id == 4"
            class="icon"
            src="../../../assets/icons/sleep.gif"
          />
          <div class="text" style="margin-bottom: -3px; font-weight: 500">
            {{ skill.name }}
          </div>
        </div>

        <div class="line-right">
          <div
            class="efficacity"
            style="color: #31c531"
            *ngIf="skill.lvl == skill.lvl_max"
          >
            <span
              *ngIf="skill.id != 4"
              class="material-symbols-outlined"
              style="font-size: 16px; margin-top: -1px"
            >
              keyboard_double_arrow_up
            </span>
            <span
              *ngIf="skill.id == 4"
              class="material-symbols-outlined"
              style="font-size: 16px; margin-top: -2px;"
            >
              schedule
            </span>

            <span>{{ getPercentageEfficacity(skill) }}</span>
          </div>

          <div class="element-wrapper">
            <span class="material-symbols-outlined icon"> schedule </span>
            <div class="text">{{ getTimeLearnString(skill) }}</div>
          </div>

          <div class="element-wrapper">
            <span class="material-symbols-outlined icon"> trending_up </span>
            <div class="text">{{ skill.lvl }}/{{ skill.lvl_max }}</div>
          </div>
        </div>
      </div>

      <div class="line" *ngIf="skill.lvl != skill.lvl_max">
        <div class="efficacity">
          <span
            *ngIf="skill.id != 4"
            class="material-symbols-outlined"
            style="font-size: 18px; margin-top: -2px"
          >
            keyboard_double_arrow_up
          </span>
          <span
            *ngIf="skill.id == 4"
            class="material-symbols-outlined"
            style="font-size: 16px; margin-right: 2px; margin-bottom: 2px"
          >
            schedule
          </span>
          <span>{{ getPercentageEfficacity(skill) }}</span>
          <span
            class="material-symbols-outlined"
            style="font-size: 13px; margin: 0px 4px"
          >
            arrow_forward_ios
          </span>

          <span style="color: #31c531">{{
            getPercentageEfficacityNextLevel(skill)
          }}</span>
        </div>
        <button
          class="btn-build"
          (click)="learn(skill)"
          [ngStyle]="{
            background: isLearnable(skill)
              ? 'var(--primary-yellow)'
              : 'var(--primary-yellow-disabled)'
          }"
        >
          <img src="../../../../assets/icons/livre.gif" />
          <div class="text">Learn</div>
        </button>
      </div>
    </div>
    <div style="height: 8px; width: 100%"></div>
  </div>
</div>
