<div class="boundary">
  <div class="header">
    <img class="icon" src="../../../../assets/icons/livre.gif" />
    <div>Learn Skills</div>
  </div>
  <div class="content">
    <div class="building" *ngFor="let skill of skills">
      <div class="line">
        <div class="element-wrapper">
          <img
            *ngIf="skill.id == 1"
            class="icon"
            src="../../../../assets/icons/pelle.gif"
          />
          <img
            *ngIf="skill.id == 2"
            class="icon"
            src="../../../../assets/icons/livre.gif"
          />
          <img
            *ngIf="skill.id == 3"
            class="icon"
            src="../../../../assets/icons/build.webp"
          />
          <div class="text" style="margin-bottom: -3px; font-weight: 500">
            {{ skill.name }}
          </div>
        </div>

        <div class="line-right">
          <div class="element-wrapper">
            <span class="material-symbols-outlined icon"> schedule </span>
            <div class="text">{{ getTimeLearnString(skill) }}</div>
          </div>

          <div class="element-wrapper">
            <span class="material-symbols-outlined icon"> trending_up </span>
            <div class="text">{{ skill.lvl }}/{{ skill.lvl_max }}</div>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="efficacity">
          <span
            class="material-symbols-outlined"
            style="font-size: 18px; margin-top: -2px"
          >
            keyboard_double_arrow_up
          </span>
          <span>{{ getPercentageEfficacity(skill) }}</span>
          <span
            class="material-symbols-outlined"
            style="font-size: 13px; margin: 0px 4px"
          >
            arrow_forward_ios
          </span>

          <span style="color: #31c531">{{
            getPercentageEfficacityNextLevel(skill)
          }}</span>
        </div>
        <button
          class="btn-build"
          (click)="learn(skill)"
          [ngStyle]="{
            background: isLearnable(skill)
              ? 'var(--primary-yellow)'
              : 'var(--primary-yellow-disabled)'
          }"
        >
          <img src="../../../../assets/icons/livre.gif" />
          <div class="text">Learn</div>
        </button>
      </div>
    </div>
    <div style="height: 8px; width: 100%"></div>
  </div>
</div>
