<div class="header container">
  <img
    style="height: 24px; width: 24px; margin-right: 8px"
    src="../../../assets/icons/small_death.gif"
  />Hordes
</div>

<div class="content container">
  <div class="item">
    <img class="icon" src="../../../assets/icons/ame.gif" />
    <p>Try your best to survive</p>
  </div>

  <div class="item" style="margin-top: 16px">
    <img class="icon" src="../../../assets/icons/pelle.gif" />
    <p>Search for resources</p>
  </div>

  <div class="item">
    <img class="icon" src="../../../assets/icons/building.webp" />
    <p>Build powerful defenses</p>
  </div>

  <div class="item" style="margin-bottom: 16px">
    <img class="icon" src="../../../assets/icons/livre.gif" />
    <p>Learn useful skills</p>
  </div>

  <div class="item">
    <img class="icon" src="../../../assets/icons/zb.gif" />
    <p>Defeat zombies every nights</p>
  </div>

  <div class="item">
    <img class="icon" src="../../../assets/icons/xpLogo.png" />
    <p>Accumulate experience and levels</p>
  </div>

  <div class="item">
    <img class="icon" src="../../../assets/icons/leaderboard.gif" />
    <p>Conquer the leaderboard!</p>
  </div>
</div>

<div class="footer">
  <button class="yellow-button" (click)="createCity(false)">
    <mat-spinner *ngIf="createCityLoading.normal" diameter="24" class="spinner"></mat-spinner>
    <img class="icon" src="../../../assets/icons/normal.png" />
    <div style="height: 24px; display: flex; align-items: center">Play normal</div>
  </button>
  <button class="yellow-button" (click)="createCity(true)">
    <mat-spinner *ngIf="createCityLoading.ranked" diameter="24" class="spinner"></mat-spinner>
    <img class="icon" src="../../../assets/icons/ranked.png" />
    <div style="height: 24px; display: flex; align-items: center">Play ranked</div>
  </button>
</div>
