<div class="boundary">
  <div class="header container">
    <img style="height: 24px; width: 24px; margin-right: 8px" src="../../../assets/icons/small_death.gif" />Hordes
  </div>

  <div class="content container">
    <div class="item">
      <img class="icon" src="../../../assets/icons/ame.gif" />
      <p>Try your best to survive</p>
    </div>

    <div class="item" style="margin-top: 16px">
      <img class="icon" src="../../../assets/icons/pelle.gif" />
      <p>Search for resources</p>
    </div>

    <div class="item">
      <img class="icon" src="../../../assets/icons/building.webp" />
      <p>Build powerful defenses</p>
    </div>

    <div class="item" style="margin-bottom: 16px">
      <img class="icon" src="../../../assets/icons/livre.gif" />
      <p>Learn useful skills</p>
    </div>

    <div class="item">
      <img class="icon" src="../../../assets/icons/zb.gif" />
      <p>Defeat zombies every nights</p>
    </div>

    <div class="item">
      <img class="icon" src="../../../assets/icons/xpLogo.png" />
      <p>Have your own progression</p>
    </div>

    <div class="item">
      <img class="icon" src="../../../assets/icons/leaderboard.gif" />
      <p>Conquer the leaderboard!</p>
    </div>
  </div>

  <div class="footer">
    <button (click)="createCity()">
      <mat-spinner *ngIf="createCityLoading" diameter="24" class="spinner"></mat-spinner>
      <div style="height: 24px; display: flex; align-items: center">
        Ready to die?
      </div>
    </button>
  </div>
</div>