<div class="boundary">
  <div class="header">
    <div class="xp-wrapper">
      <div class="xp-icon">3</div>
      <div class="xp-bar-wrapper">
        <progress class="xp-bar" max="100" value="70"></progress>
        <div class="xp-string">{{ xpString }}</div>
      </div>
    </div>

    <div class="header-right">
      <button class="icon-btn">
        <img
          style="height: 16px; margin: 0px 4px"
          class="xp-icon"
          src="../../../assets/icons/sac.webp"
        />
      </button>
      <button class="icon-btn">
        <span class="material-symbols-outlined icon"> leaderboard </span>
      </button>
      <button class="icon-btn">
        <span class="material-symbols-outlined icon"> settings </span>
      </button>
    </div>
  </div>

  <div class="second-header">
    <div class="second-header-element">
      <!-- <span class="material-symbols-outlined icon-google"> calendar_today </span> -->
      <img class="icon" src="../../../assets/icons/calendar.ico" />
      <span class="text-span">{{ jour }}</span>
    </div>

    <div class="second-header-element">
      <img
        class="icon"
        style="mix-blend-mode: color-burn"
        src="../../../assets/icons/clock2.png"
      />
      <span class="text-span">10h38</span>
    </div>

    <div class="second-header-element">
      <img class="icon" src="../../../assets/icons/defense.gif" />
      <span class="text-span">356</span>
    </div>

    <div class="second-header-element">
      <img class="icon" src="../../../assets/icons/zb.gif" />
      <span class="text-span">278-324</span>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-header"></div>
    <div class="content"></div>
  </div>
  <div class="footer">
    <button class="footer-btn">
      <img class="icon" src="../../../assets/icons/builder.gif" />
      <span class="span">Buildings</span>
    </button>
    <button class="footer-btn">
      <img class="icon" src="../../../assets/icons/livre.gif" />
      <span class="span">Skills</span>
    </button>
    <button class="footer-btn">
      <img class="icon" src="../../../assets/icons/pelle.gif" />
      <span class="span">Diggings</span>
    </button>
    <button class="footer-btn">
      <img class="icon" src="../../../assets/icons/sleep.gif" />
      <span class="span">Sleep</span>
    </button>
    <!-- <button class="footer-btn">
      <img class="icon" src="../../../assets/icons/builder.gif" />
    </button> -->
  </div>
</div>
