<div class="boundary">
  <div class="header">
    <div class="xp-wrapper">
      <div class="xp-icon">{{ lvl }}</div>
      <div class="xp-bar-wrapper">
        <progress class="xp-bar" max="100" value="70"></progress>
        <div class="xp-string">{{ xpString }}</div>
      </div>
    </div>

    <div class="header-right">
      <!-- <button class="icon-btn">
        <span class="material-symbols-outlined icon"> mail </span>
      </button> -->
      <button class="icon-btn">
        <!-- <span class="material-symbols-outlined icon"> leaderboard </span> -->
        <img
          style="height: 24px; width: 24px"
          src="../../../assets/icons/leaderboard.gif"
        />
      </button>
      <button class="icon-btn" (click)="goToSettings()">
        <span class="material-symbols-outlined icon"> settings </span>
      </button>
    </div>
  </div>

  <div class="second-header">
    <div class="second-header-left">
      <div class="second-header-element">
        <img class="icon" src="../../../assets/icons/calendar.ico" />
        <span class="text-span">{{ city?.day }}</span>
      </div>

      <div class="second-header-element">
        <span class="material-symbols-outlined icon"> schedule </span>
        <span class="text-span">{{ time.string }}</span>
      </div>

      <div class="second-header-element">
        <img class="icon" src="../../../assets/icons/defense.gif" />
        <span class="text-span">{{ city?.defense }}</span>
      </div>

      <div class="second-header-element">
        <img class="icon" src="../../../assets/icons/zb.gif" />
        <span style="margin-left: 0px" class="text-span"
          >{{ city?.nb_zb_next_attack_min }}-{{
            city?.nb_zb_next_attack_max
          }}</span
        >
      </div>
    </div>

    <button class="icon-btn" style="margin-left: 8px" (click)="endDay()">
      <img
        style="height: 24px"
        class="xp-icon"
        src="../../../assets/icons/sleep.gif"
      />
    </button>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <app-diggings *ngIf="content == 'diggings'"></app-diggings>
      <app-buildings *ngIf="content == 'buildings'"></app-buildings>
      <app-skills *ngIf="content == 'skills'"></app-skills>
    </div>
  </div>
  <div class="footer">
    <button
      class="footer-btn"
      (click)="changeContent('buildings')"
      [ngStyle]="getStyle('buildings')"
    >
      <img class="icon" src="../../../assets/icons/building.webp" />
      <span class="span">Build</span>
    </button>
    <button
      class="footer-btn"
      (click)="changeContent('skills')"
      [ngStyle]="getStyle('skills')"
    >
      <img class="icon" src="../../../assets/icons/livre.gif" />
      <span class="span">Learn</span>
    </button>
    <button
      [ngStyle]="getStyle('diggings')"
      class="footer-btn"
      (click)="changeContent('diggings')"
    >
      <!-- style="background: var(--background-black-opacity-zero-six)" -->
      <img class="icon" src="../../../assets/icons/pelle.gif" />
      <span class="span">Dig</span>
    </button>
  </div>
</div>
