<div class="boundary">
  <div class="header">
    <div class="xp-wrapper">
      <div class="xp-icon">{{ lvl }}</div>
      <div class="xp-bar-wrapper">
        <progress class="xp-bar" max="100" value="70"></progress>
        <div class="xp-string">{{ xpString }}</div>
      </div>
    </div>

    <div class="header-right">
      <!-- <button class="icon-btn">
        <span class="material-symbols-outlined icon"> mail </span>
      </button> -->
      <a class="icon-btn" href="https://discord.gg/qFnSBa8P9Z" target="_blank">
        <img style="height: 24px; width: 24px" src="../../../assets/icons/discord_icon.png" /></a>
      <button class="icon-btn" (click)="goToProfil()">
        <span class="material-symbols-outlined icon">
          person
        </span>
      </button>
      <button class="icon-btn" (click)="goToLeaderboard()">
        <img style="height: 24px; width: 24px" src="../../../assets/icons/leaderboard.gif" />
      </button>
      <button class="icon-btn" (click)="goToSettings()">
        <span class="material-symbols-outlined icon"> settings </span>
      </button>
    </div>
  </div>

  <div class="second-header">
    <div class="second-header-left">
      <div class="second-header-element">
        <img class="icon" src="../../../assets/icons/calendar.ico" />
        <span class="text-span">{{ city?.day }}</span>
      </div>

      <div class="second-header-element">
        <span class="material-symbols-outlined icon"> schedule </span>
        <span class="text-span">{{ time.string }}</span>
      </div>

      <div class="second-header-element">
        <img class="icon" src="../../../assets/icons/defense.gif" />
        <span class="text-span">{{ city?.defense }}</span>
      </div>
      <div class="second-header-element">
        <img class="icon" src="../../../assets/icons/zb.gif" />

        <span style="margin-left: 0px" class="text-span"
          [ngClass]="{ danger: city?.nb_zb_next_attack_max > city?.defense }">{{ city?.nb_zb_next_attack_min }}-{{
          city?.nb_zb_next_attack_max
          }}</span>
      </div>
    </div>

    <button class="icon-btn borderBlink" [ngClass]="{ borderBlink2: time.seconds > 79200 }" style="margin-left: 8px"
      (click)="endDay()">
      <img style="height: 24px" class="xp-icon" src="../../../assets/icons/sleep.gif" />
    </button>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <button [ngStyle]="getStyle('dig')" class="footer-btn" (click)="changeContent('dig')">
      <img class="icon" src="../../../assets/icons/pelle.gif" />
      <span class="span">Dig</span>
    </button>
    <button class="footer-btn" (click)="changeContent('learn')" [ngStyle]="getStyle('learn')">
      <img class="icon" src="../../../assets/icons/livre.gif" />
      <span class="span">Learn</span>
    </button>
    <button class="footer-btn" (click)="changeContent('build')" [ngStyle]="getStyle('build')">
      <img class="icon" src="../../../assets/icons/building.webp" />
      <span class="span">Build</span>
    </button>
  </div>
</div>